.logo{
    max-width: 150px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 60px;
}

body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 1.5;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
}

.byline{
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}


.lebron-caption{
    font-weight: 200;
    font-size: 0.8em;
    font-style: italic;
    color:gray;
    padding-top: 10px;
    text-align: justify;
}

.lebron{
    box-shadow: 10px 7px #A8FF00;
}

.stat{
    font-size: 0.9em;
    background-color: #A8FF00;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

a:hover{
    color: #A8FF00;
}

.team-link{
    color: white;
    background-color: black;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
}

.chart-info{
    font-size: 0.8em;
    list-style-type: none;
}

footer{
    font-size: 0.8em;
    padding-bottom: 40px;
}

.footer-info{
    border-top: 2px dashed gray;
    padding-top: 20px;
}

@media (min-width: 375px){ 
    .chart-info{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 775px){
    .logo{
        padding-bottom: 15px;
    }
    h1{
        font-size: 2em;
    }

    .lebron{
        box-shadow: none;
        border-top: 3px solid #A8FF00;
        border-bottom: 3px solid #A8FF00;
    }
    .stat{
        padding: 0px;
        margin-bottom: 20px;
    }
    .rank-intro{
        border-bottom: 1px solid gray;
    }
    .chart-info{
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        font-weight: 500px;
        text-align: center;
    }
    .chart-1,
    .chart-2,
    .chart-3,
    .chart-4,
    .chart-5,
    .chart-6{
        padding-bottom: 20px;
    }
}

