body{
    font-family: 'Lato', sans-serif;
    color: #171810;
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #FF2511;
    font-weight: 500;
    margin: 0 auto;
    padding: 20px;
    font-size: 3.5em;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.byline{
    text-align: center;
}

.subhead{
    background-color: #FF2511;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.stat{
    background-color: #FF2511;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

footer{
    border-top: 2px dashed #171810;
}

a{
    color: #171810;
    font-weight: 500;
}


@media (max-width: 768px) {
    h1{
        font-size: 1.5em;
    }

}
@media (min-width: 768px){
    h1{
        font-size: 2em;
    }
}