.logo{
    max-width: 100px;
    margin: 0 auto;
}
body{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 500;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 4.5em;
    font-style: italic;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    color: #C6200C;
}

.kids,
.woke,
.state,
.political,
.sjw
{
    padding: 40px;
}

.container-body{
    background-color: #FFECED;
}

h4{
    font-weight: 700;
}

.slang{
    padding: 5px;
    background-color: #C6200C;
    color: white;
}


.footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a{
    color:black;
}

@media (min-width:600px){
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1em;
    }
}